/*This is the css file for my Google Homepage*/
*{margin:0;padding:0;outline:0;font-size:1em;font-weight:normal;font-style:normal;border:0;text-decoration:none;list-style-type:none}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.homepage {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
}

.header {
    display: grid;
    grid-template-columns: 1fr 60px 60px 60px 60px;
    grid-template-rows: 60px;
    grid-template-areas:
    ". gmail images apps profile";
}

.gmail {
    grid-area: gmail;
    color: rgba(0,0,0,0.8)
    justify-self: center;
    align-self: center;
}

.images {
    grid-area: images;
    color: rgba(0,0,0,0.8)
    justify-self: center;
    align-self: center;
}

.apps-icon-main {
    grid-area: apps;
    justify-self: center;
    align-self: center;
}

.apps-icon-image {
    vertical-align: middle;
    max-width: 60%;
    height: auto;
    padding-left: 5px;
}

.appus-icon-image:hover {
    box-shadow: 0 0 0 10px #F2F2F2;
}

.user-icon-main {
    grid-area: profile;
    justify-self: center;
    align-self: center;
}

.user-icon-image {
    vertical-align: middle;
    max-width: 50%;
    height: auto;
    border-radius: 50%;
}

.user-icon-image:hover {
    box-shadow: 0 0 0 5px #F2F2F2;
}

.content {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-rows: 250px 80px 80px 250px;
    grid-template-areas:
    ". logo ."
    ". search ."
    ". buttonflex ."
    ". . .";
}

.logo {
    grid-area: logo; 
    justify-self: center;
    align-self: end;
}

.search {
    grid-area: search;
    height: 40px; 
    align-self: center;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    background: url(https://github.com/makise47/google-homepage/blob/main/images/search-icon.png) no-repeat scroll 15px 7px;
    padding-left: 50px;
}

.search:hover {
    box-shadow: 0 0 10px #F2F2F2;
}

.buttonflex {
    grid-area: buttonflex;
    justify-self: center;
    align-self: center;
}

.button1 {
    font-family: 'Roboto', sans-serif;
    color: #535353;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    padding: 7px 15px 7px 15px;
    margin-right: 10px;
}

.button2 {
    font-family: 'Roboto', sans-serif;
    color: #535353;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    padding: 7px 15px 7px 15px;
    margin-left: 10px;
}

.button1:hover {
    box-shadow: 0 0 0 1px #757575;
}

.button2:hover {
    box-shadow: 0 0 0 1px #757575;
}

.footer {
    display: grid;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #F2F2F2;
    grid-template-columns: 100px 100px 100px 150px 1fr 80px 80px 80px 10px;
    grid-template-rows: 60px;
    grid-template-areas:
    "about ads business how . privacy terms settings .";
}

.about {
    grid-area: about;
    color: rgba(0,0,0,0.8);
    justify-self: center;
    align-self: center;
}

.ads {
    grid-area: ads;
    color: rgba(0,0,0,0.8);
    justify-self: center;
    align-self: center;
}

.business {
    grid-area: business;
    color: rgba(0,0,0,0.8);
    justify-self: center;
    align-self: center;
}

.how {
    grid-area: how;
    color: rgba(0,0,0,0.8);
    justify-self: center;
    align-self: center;
}

.privacy {
    grid-area: privacy;
    color: rgba(0,0,0,0.8);
    justify-self: center;
    align-self: center;
}

.terms {
    grid-area: terms;
    color: rgba(0,0,0,0.8);
    justify-self: center;
    align-self: center;
}

.settings {
    grid-area: settings;
    color: rgba(0,0,0,0.8);
    justify-self: center;
    align-self: center;
}
